body {
  background-image: url("/images/wall.jpg");
  background-size: cover;
  font-family: "Cinzel Decorative", sans-serif;
  margin: 0;
  padding: 0;
}

#head {
  text-align: center;
  margin-top: 0; /* Updated margin to remove space */
  padding: 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #ffd700; /* Gold color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 20px;
  margin-top: 10px; /* Added margin to separate from h1 */
  margin-bottom: 20px; /* Increased margin for better spacing */
  color: #ffa500; /* Orange color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

h3 {
  font-size: 24px;
  margin-top: -4px; /* Added margin for separation */
  margin-bottom: -46px; /* Adjusted margin for better spacing */
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#game-boy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjusted height for better visibility */
}

#game-boy {
  position: relative;
  background-color: #8bacae;
  border: 10px solid #393939;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  height: 641px;
}

#game-boy-screen {
  background-color: #000;
  height: 52%;
  margin: 20px;
}

#console-container {
  background-color: #5e5e5e;
  border-radius: 10px;
  padding: 20px;
}

.buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.buttons button {
  background-color: #393939;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.results,
#playerScore,
#computerScore,
#finalMessage,
#quoteResults {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}

#quoteResults {
  font-style: italic;
}

#finalMessage {
  font-weight: bold;
  font-size: 24px;
}

.footer {
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
